<link rel="apple-touch-icon" sizes="180x180" href="{{ 'static/imgs/apple-touch-icon.png' | asseturl }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'static/imgs/favicon-32x32.png' | asseturl }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'static/imgs/favicon-16x16.png' | asseturl }}">
<link rel="manifest" href="{{ 'static/imgs/site.webmanifest' | asseturl }}">
<link rel="mask-icon" href="{{ 'static/imgs/safari-pinned-tab.svg' | asseturl }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ 'static/imgs/favicon.ico' | asseturl }}">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="{{ 'static/imgs/browserconfig.xml' | asseturl }}">
<meta name="theme-color" content="#ffffff">